/*@font-face {
    font-family: 'Mail Ray Stuff';
    src: local('MailRayStuff-Regular'), url('mailraystuff-regular.woff2') format('woff2'), url('mailraystuff-regular.woff') format('woff'), url('mailraystuff-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}*/
